{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    },
    "env": {
        "mocha": true
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "max-classes-per-file": "off",
        "lines-between-class-members": "off",
        "class-methods-use-this": "off",
        "import/extensions": "off",
        "no-plusplus": "off",
        "arrow-parens": "off",
        "consistent-return": "off",
        "max-len": "warn",
        "@typescript-eslint/ban-ts-ignore": "off",
        "quotes": [
            "error",
            "double"
        ],
        "indent": [
            "error",
            4
        ],
        "no-restricted-syntax": [
            "off",
            "ForOfStatement"
        ]
    },
    "overrides": [
        {
            "files": [
                "test/*.ts"
            ],
            "rules": {
                "func-names": "off",
                "object-curly-newline": "off",
                "max-len": "off",
                "prefer-arrow-callback": "off",
                "mocha/prefer-arrow-callback": "off"
            }
        }
    ]
}